<div class="container pb-5">
  <h1>{{project_name}}</h1>
  <h2>Usage</h2>
  <pre><code>curl https://{{project_name}}.glitch.me</code></pre>
  <h2>Learn more</h2>
  <ul>
    <li><a href="https://glitch.com/edit/#!/{{project_name}}?path=README.md">source code</a></li>
    <li><a href="https://stefanbohacek.com/project/node-web-console/">blog post</a></li>
  </ul>
</div>
